Repository anthonypecchillo/boltbetz-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{yaml,yml,md,json}": ["prettier --write"],
  "*.{js,ts,jsx,tsx}": ["prettier --write", "eslint --fix"]
}

chore: configure prettier code formatting
  .prettierignore
  .prettierrc
Due: none

chore: init pnpm project and initial dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: configure vite
  vite.config.ts
Due: prettier --write, eslint --fix

chore: configure vercel
  vercel.json
Due: prettier --write

chore: init vitest
  vitest.config.ts
Due: prettier --write, eslint --fix

chore: configure remix
  __remix.config.js
Due: prettier --write, eslint --fix

chore: init tailwind config with brand styles from previous project
  postcss.config.js
  tailwind.config.ts
Due: prettier --write, eslint --fix

chore: init storybook
  .storybook/main.ts
  .storybook/preview-head.html
  .storybook/preview.ts
Due: prettier --write, eslint --fix

fix: change home screen route to /wallet
  app/root.tsx
  app/routes.d.ts
  app/routes/_index.tsx
Due: prettier --write, eslint --fix

feat: add meta info to wallet page
  app/routes/_app+/wallet.tsx
  app/routes/_index.tsx
Due: prettier --write, eslint --fix

feat: update public favicon.ico
  public/favicon.ico
Due: none

fix: remove duplicate example env var
  .env.example
Due: none

feat: add meta information to root.tsx
  app/root.tsx
  public/og-logo.jpeg
Due: prettier --write, eslint --fix

feat: add meta info to root.tsx
  app/root.tsx
  public/og-logo.jpeg
Due: prettier --write, eslint --fix

test: attempt adding meta info directly to Layout in root.tsx
  app/root.tsx
Due: prettier --write, eslint --fix

chore: add a few extra meta tags to root Layout
  app/root.tsx
Due: prettier --write, eslint --fix

fix: og-logo.jpg name and dimensions
  public/og-logo.jpeg
  public/og-logo.jpg
Due: none

feat: add brand background to social link logo
  public/og-logo.jpg
Due: none

fix: sentry CSP
  app/entry.server.tsx
Due: prettier --write, eslint --fix

chore: add @storybook/addon-controls to storybook config
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: connect auth0 strategy to boltbetz API
  app/sdk/v1.ts
  app/services/auth.server.ts
Due: prettier --write, eslint --fix

feat: abstract background page styles out to root.tsx
  app/root.tsx
  app/routes/_index.tsx
Due: prettier --write, eslint --fix

feat: update temporary AuthButton component styles
  app/components/auth-button.tsx
Due: prettier --write, eslint --fix

feat: update User entity definition to match Auth0
  app/entities/v1.ts
Due: prettier --write, eslint --fix

feat: add some brand styles from Figma to tailwind config (WIP)
  tailwind.config.ts
Due: prettier --write, eslint --fix

feat: update Icon component and stories to match all brand iconography
  app/components/icon.tsx
  stories/icon.stories.ts
Due: prettier --write, eslint --fix

feat: begin updating button props/styles to match branding (WIP)
  app/components/button/get-button-props.tsx
Due: prettier --write, eslint --fix

feat: update Button stories to match Button props/styles updates (WIP)
  stories/button.stories.tsx
Due: prettier --write, eslint --fix

feat: implement basic layout for Wallet page
  app/routes/_app+/wallet.tsx
Due: prettier --write, eslint --fix
